body {
    font-size: 18pt;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
    padding: 0.5em;
}

input, textarea, button {
    font-size: inherit;
    padding: 0.5em;
}

textarea {
    grid-column: span 2;
    resize: vertical;
}