@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	position: relative;
}

main {
	position: relative;
	flex: 1;
}

footer {
	position: relative;
}
